# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment
.env
.env.local

# Logs
logs/
*.log

# Coverage and builds
coverage/
dist/
build/

# OS / IDE files
.DS_Store
.vscode/
.idea/

# Database / uploads
*.sqlite
database.sqlite
/public/uploads/

# Temporary
tmp/

# Others
*.local
